@model IEnumerable<PSS.Models.Item>
@using PSS.Utils.Constants
@using PSS.Utils

@{
    ViewBag.Title = View.Index;
}

<h2>@View.Index</h2>

@if ((Global.User != null) && (Global.User.Cart.Items.Count > 0))
{
    <p>
        @Html.ActionLink("Finalizar pedido", "Create", "Orders")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Product)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Product.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Product.Category)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(m => item.Product.Unit.Abbreviation)
            </td>
            <td>
                @Html.DisplayFor(m => item.Product.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(m => item.Price)
            </td>
            <td>
                @Html.ActionLink(View.Edit, "Edit", new { id = item.Product.Id }) |
                @Html.ActionLink(View.Details, "Details", new { id = item.Product.Id }) |
                @Html.ActionLink(View.Delete, "Delete", new { id = item.Product.Id })
            </td>
        </tr>
    }

</table>
