@using PSS.Utils
@using PSS.Utils.Constants

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-collapse collapse">
                @if (Global.User != null)
                {
                    <ul id="Links" class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pessoas</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Usuários", Actions.Index, "Users")</li>
                                <li>@Html.ActionLink("Fornecedores", Actions.Index, "Providers")</li>
                                <li>@Html.ActionLink("Fabricantes", Actions.Index, "Manufacturers")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Produtos</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Categorias", Actions.Index, "Categories")</li>
                                <li>@Html.ActionLink("Unidades", Actions.Index, "Units")</li>
                                <li>@Html.ActionLink("Produtos", Actions.Index, "Products")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Localização</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cidades", Actions.Index, "Cities")</li>
                                <li>@Html.ActionLink("Estados", Actions.Index, "States")</li>
                                <li>@Html.ActionLink("Países", Actions.Index, "Countries")</li>
                            </ul>
                        </li>

                        <li>@Html.ActionLink("Carrinho de compras", Actions.Index, "Cart")</li>
                        <li>@Html.ActionLink("Pedidos", Actions.Index, "Orders")</li>
                    </ul>
                }

                @if (Global.User != null)
                {
                    <div class="pull-right">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink(Global.User.Email, $"{Actions.Details}/{Global.User.Id}", "Users")</li>
                            <li>@Html.ActionLink(View.Logout, Actions.Logout, "Users")</li>
                        </ul>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Douglas Mezuraro - Implementação de Sistemas de Software</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
